@import url('https://fonts.googleapis.com/css2?family=Mystery+Quest&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alkalami&family=Mystery+Quest&display=swap'); 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 1px solid black;
}
h1 {
    font-family: 'Mystery Quest', cursive;
    font-size: 4rem;
    text-align: center;
    margin-top: 30px;
}
main {
    margin-top: 20px;
    font-family: 'Alkalami', serif;
    width: 100%;
}
.play-container {
    position: absolute;
    width: 60%;
    height: 79%; 
    border: 1px solid green;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(208, 240, 191 , .8);
}
.play {
    height: 30%;
    font-size: 4rem;
    padding: 10px 20px 0;
}
input {
    font-family: 'Alkalami', serif;
    cursor: pointer;
}
main, h1 {
    width: 60%;
    margin-left: 20%;
}
.snake-bg {
    position: absolute;
}
canvas {
    width: 100%;
}
.restart-container {
    display: flex;
    justify-content: center;
}